
.main-chat 
  .main-header
    .main-header__block
      .main-header__block--test
        = @group.name
        .main-header__block--test--member
          Member : 
          - @group.users.each do |user|
            = user.name
      .main-header__block--edit
        =link_to edit_group_path(@group) do
          %i.edit
            Edit


  .messages
    = render @messages
    
  .form
    = form_for [@group, @message] do |f|
      .message--type
        = f.text_field :content, class: 'message--type--text',placeholder: 'type a message'
        = f.label :image, class: 'message--type--image' do
          = icon('fas','image', class: 'icon')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'message--send' 
